body {
font-family: "Roboto", sans-serif;
color: #434455;
background-color:#ffffff;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

/*==============HEADER=============*/
.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-text{
    color: #2e2f42;
}

.menu-link{
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
        
}

.menu-link:hover,.menu-link:focus{
    color: #404bbf
}

.address{
    font-style: normal;
}

.contacts-link {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.contacts-link:hover,.contacts-link:focus{
color: #404bbf;
}

/*==============HERO=============*/
.hero{
background: #2e2f42;
}

.main-title{
font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
}

.services{
font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background: #4d5ae5;
    cursor: pointer;
}

.services:hover,.services:focus{
    background: #404bbf;
}

/*==============STRATEGY=============*/
.strategy-list-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.strategy-list-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.our-team{
    background: #f4f4fd;
}

/*==============OUR TEAM=============*/
.section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}

.description-item{
    background-color: #FFFFFF
}

.description{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.comment{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

/*==============Our Portfolio=============*/
.title-our-portfolio{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42
}

.our-portfolio-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.our-portfolio-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*==============FOOTER=============*/
.footer{
    background: #2e2f42;
}

.logos{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logos-text{
    color: #f4f4fd;
}

.basement-paragraph{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}
